.tripsContainer {
  position: relative;
}

.tripsList {
  max-width: 860px;
  display: flex;
  gap: 55px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}

.searchBar {
  display: flex;
  gap: 7px;
  width: 280px;
  margin-bottom: 35px;
  background-color: #f2f4f8;
  padding: 15px;
  border-radius: 7px;
}

.searchBar input {
  font-weight: bold;
}

.addTripBtn {
  width: 250px;
  height: 250px;
  font-size: 1.2rem;
  background-color: #f2f4f8;
  position: absolute;
  top: 0;
  left: 915px;
}