.modalContent {
  width: 700px;
  /* height: 550px; */
  background-color: #fff;
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  padding: 20px 25px;
  border-bottom: 1px solid #f0f0f0;
  justify-content: space-between;
  align-items: center;
}

.header svg {
  color: #808080;
}

.formBody {
  border-bottom: 1px solid #f0f0f0;
  padding: 75px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 25px 20px;
}

.formFooter button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 2px;
}

.cancelBtn {
  border: 2px solid #f0f0f0;
}

.saveBtn {
  background-color: #1890ff;
  color: #fff;
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.label span {
  color: red;
}

.label input,
.label select {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #f0f0f0;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  position: relative;
  border-radius: 2px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(60%);
}

select {
  appearance: none;
  background-image: url("~/assets/images/icons/arrow-down-icon.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 10px;
}