.sideInfoContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 120px;
  align-items: center;
  justify-content: center;
  width: 600px;
  min-height: 100vh;
  color: #fff;
  background-color: var(--dark-blue);
}