.itemContainer {
  min-width: 250px;
}

.itemContainer img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #f2f4f8;
  padding: 20px;
  margin-top: -5px;
}