.timerContainer {
  display: flex;
  gap: 60px;
}

.timerContainer p {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  font-size: 0.7rem;
  gap: 8px;
}

.timerContainer span {
  font-size: 1.7rem;
  font-weight: bold;
}