.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.largerFontSize {
  font-size: 1.4rem;
}

.dayOfWeek {
  font-weight: bold;
  font-size: 1.6rem;
}

.iconWrapper {
  display: flex;
  position: relative;
}

.iconWrapper img {
  position: absolute;
  left: -60px;
  top: 15%;
}

.temperature {
  font-size: 5rem;
  margin-left: 15px;
}