*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #0f0f0f0f;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0f0f0f26;
  }
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
}

button,
input,
select {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

input::placeholder {
  color: inherit;
}

select {
  appearance: none;
  background-image: url("~/assets/images/icons/arrow-down-icon.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 10px;
}